<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite name="OrangeHRM Login Suite">
<listeners>
  <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>	
  <test name="LoginTest">
    <classes>
      <class name="com.orangehrm.LoginTest"/>
    </classes>
  </test>
</suite>
