name: Email and reporting

on : 
  workflow_dispatch

# permissions:
#   contents: write
  
jobs:
  run-test:
    uses:  ./.github/workflows/test-and-report.yml

  generate-report:
    needs : run-test
    runs-on: ubuntu-latest

    steps:
      - name: Download allure results
        uses: actions/download-artifact@v4
        with:
            name: allure-results
            path: allure-results
            # path: . 

      # - name: List Allure Results Files - did for debugging
      #   run: |
      #     echo "Contents of allure-results folder:"
      #     ls -R allure-results
      #     echo "Check if container.json exists:"
      #     find allure-results -name container.json || echo "container.json not found"

      - name: Install Allure CLI
        run: |
          curl -o allure.tgz -L https://github.com/allure-framework/allure2/releases/download/2.27.0/allure-2.27.0.tgz
          tar -xzf allure.tgz
          sudo mv allure-2.27.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure
          
      - name: Generate Allure report
        run: allure generate allure-results -o allure-report --clean

      # - name: List Allure Report contents - did for debugging
      #   run: ls -R allure-report

      # - name: Upload the generated Allure report folder
      #   uses: actions/upload-artifact@v4
      #   with:
      #      name: allure-report
      #      path: allure-report

      - name: Deploy Allure report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
           
  send-report-and-link: 
    needs: generate-report
    runs-on: ubuntu-latest
    steps:
    
       # COmmenting the below to send the report directly instead of send the report and open in local web browser.   
      - name: Download the generated Allure report
        uses: actions/download-artifact@v4
        with:
           name: allure-report
           path: ./allure-report

      - name: Zip the Allure report for attachment
        run: zip -r allure-report.zip ./allure-report

      - name: Archive Allure report as tar.gz
        run: tar -czf allure-report.tar.gz ./allure-report
 
        # attachments: allure-report.tar.gz    - # Not accepting by gmail - blocks all - ZIP, ZIPX, TAR, TAR.GZ.
   
      - name: Send the Allure report and link
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: mohideen.er22@gmail.com
          password: ${{ secrets.SEND_MAIL_PASSWORD }}
          subject: "Allure Report Generated - Run #${{ github.run_number }}"
          to: TestHorseCIdemo@yopmail.com, qa-teamhorse@yopmail.com, devleadhorse@yopmail.com
          from: GitHub CI <mohideen.er22@gmail.com>
          html_body: |
            <html>
              <body>
                <p>Hello all,</p>
                <p>PFA,<br>
                The Allure test report has been generated.</p>
  
                <p>You can also view it directly from here:</p>
  
                <ul>
                  <li><strong>View the Github action Run:</strong>
                    <a href="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}">
                      GitHub Actions Run
                    </a>
                  </li>
                  <!--
                  <li><strong>Click and View the report:</strong>
                    <a href="https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/">
                      Allure Report (GitHub Pages)
                    </a>
                  </li>
                   -->
                  <li><strong>View the report directly from workflow run:</strong>
                    <a href="https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/?run_id=${{ github.run_id }}">
                      Open Report
                    </a>
                  </li>
                </ul>
  
                <p>Regards,<br>
                CI System</p>
              </body>
            </html>
             
            
